@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;

}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background-color: #000000;
  padding: 1rem;
  border-bottom: 4px solid rgb(182, 182, 182);
  color:white;


}


.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;

}


.navbar-links li {
  list-style-type:none;
  

}

.navbar-links li a{

  text-decoration: none;
  color:#fff;
  padding: 1rem;
  display:block
  

}

.navbar-links li:hover{
  background-color: white;
  transition: 0.2s;
  color:black;
  border-radius: 3px;
  scale: 1.2;

}

.navbar-links li a:hover{

  transition: 0.2s;
  color:black;

}

.hamburger-menu-button {
  position: absolute;
  top: .75rem;
  right:1rem;
  display:none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
 

}



@media(max-width:900px){
  .hamburger-menu-button {
    display: flex;
  }

  .hamburger-menu-button .bar{
  height: 5px;
  width:100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  transition: .3s ease;

  

}

  .hamburger-menu-button span:nth-child(1){
    top: 25%;


  }
  .hamburger-menu-button span:nth-child(3){
    top: 75%;
  }


  .hamburger-menu-button.clicked span:nth-child(1){
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    
    
    

  }

  .hamburger-menu-button.clicked span:nth-child(2){
    
    opacity: 0;
    
  }

  .hamburger-menu-button.clicked span:nth-child(3){
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }

  .navbar-links{
    
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease, opacity 1s ease;
    width: 100%;
    border-top: 4px solid #fff;
    transition: .3s ease;

  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #fff;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .move-navbar-links-down {
    animation-name: move;
    animation-duration:10s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;

  }



  .navbar-links.active {
    max-height: 500px;
    opacity: 1;
    
    
    
  }





    

}






.subheading {
  color: #f3f3f3;
}







.logo-section{
  min-width: 200px;
  max-width: 200px;
}



.mission-statement {
  background-color: #333;
  text-align: center;
  color: white;
  border-bottom: 4px solid rgb(182, 182, 182);

}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

main h1 {
  padding-top: 1.5rem;
}

h2 {
  padding-top: 1.5rem;
}

.gradient {
  background: linear-gradient(to right, #f7ff00, #db36a4);
}




.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  color:#f3f3f3;
  background-color: rgb(32, 32, 32);
  

}

.benefits-list h3 {
  padding-bottom: 0.5rem;
}

.info-card {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-card>div:first-of-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-card i {
  font-size: 1.2rem;
}

.hero-info {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.heat-bar {
  height: 4rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.font-bolder {
  font-weight: 500;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 1rem;
}

.modal-underlay {
  position: absolute;
  inset: 0;
  background: var(--background-muted);
  opacity: 0.8;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
}

.modal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

.modal-content {
  position: relative;
  z-index: 101;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  border-radius: var(--border-radius-large);
  border: 1px solid var(--border-primary);
  background: var(--background-primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  gap: 1rem;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.isuThina-logo {
  height: 200px;
  width: 200px;
}

.welcome-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  
}

.zim-flag {
  height: 100px;
}



.section-header i {
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

.word-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.word-grid button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.intro-card-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin:1rem;



  }


.intro-card-grid button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;




  }

.word-of-day-button-selected {
  border-color: var(--border-highlight) !important;
}

.stats-grid,
.time-entry {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.w-full {
  width: 100%;
  max-width: unset;
}

.stat-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stat-table {
  width: 100%;
  grid-column: span 2 / span 2;

}

.stat-text {
  font-size: 2.25rem;
  line-height: 1;
  padding-right: 0.25rem;
}

.status {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.status h5 {
  padding: 0.15rem 0.75rem;
  border-radius: var(--border-radius-small);
}

.coffee-history {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.coffee-history i {
  font-size: 1.5rem;
}

.coffee-card {
  position: relative;
}

.coffee-card-stat {
  position: absolute;
  z-index: 4;
  display: none;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
}

.coffee-card-stat p {
  font-size: 0.7rem;
  white-space: nowrap;
}



footer {
  padding: 2rem 0;
  display: flex;
  align-items: start;
  gap: 2rem;
  flex-wrap: wrap;
}

.sign-up-text {
  padding-top: 0;
}

.register-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}




@media (min-width: 640px) {
  main h1 {
    padding-top: 2.5rem;
  }

  .hero-info {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .word-grid {
    grid-template-columns: repeat(3, minmax(3, 1fr));

  }

  .intro-card-grid {
    grid-template-columns: repeat(3, minmax(3, 1fr));



  }

  .caffeine-level-text {
    font-size: 3rem;
    line-height: 1;
  }


}
